Repository fizzerle/autonomous-driving-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-maven-build, frontend-build, kubernetes-deploy

.gitlab-ci.yml:

image: docker:stable

services:
  - docker:dind
variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2
  MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
cache:
  paths:
    - .m2/repository

stages:
  - build
#  - test
  - deploy

#backend-tests:
#  image: maven:3.6.1-ibmjava-8-alpine
#  stage: test
#  tags:
#    - ipax
#  script: "mvn test"
#  only:
#    changes:
#      - apigateway/**/*
#      - entity-storage-service/**/*
#      - event-storage-service/**/*
#      - notification-storage-service/**/*
#      - swaggergateway/**/*
#      - hystrixdashboard/**/*
  
backend-maven-build:
  image: maven:3.6.1-ibmjava-8-alpine
  stage: build
  script: "mvn install -Ddocker.registry=registry.gitlab.com/fizzerle/dse-2019-ss \
           -Ddockerfile.username=gitlab-ci-token \
           -Ddockerfile.password=$CI_BUILD_TOKEN \
           -DskipTests \ 
           -B \ 
           --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"
  only:
    changes:
      - apigateway/**/*
      - entity-storage-service/**/*
      - event-storage-service/**/*
      - notification-storage-service/**/*
      - swaggergateway/**/*
      - hystrixdashboard/**/*

           
frontend-build:
    stage: build
    script:
        - cd backendui/
        - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN https://registry.gitlab.com
        - docker build -t registry.gitlab.com/fizzerle/dse-2019-ss/backendui .
        - docker push registry.gitlab.com/fizzerle/dse-2019-ss/backendui:latest
    only:
        changes:
          - backendui/**/*

kubernetes-deploy:
  image: google/cloud-sdk
  stage: deploy
  tags:
    - ipax
  script:
    - echo "$GOOGLE_KEY5" > key.json
    - gcloud auth activate-service-account --key-file key.json
    - gcloud config set compute/zone europe-west3-c
    - gcloud config set project dse19-group-11
    - gcloud container clusters get-credentials standard-cluster-1
    - kubectl delete secret registry.gitlab.com
    - kubectl create secret docker-registry registry.gitlab.com --docker-server=https://registry.gitlab.com --docker-username=fizzerle --docker-password=$GITLAB_REPO_TOKEN --docker-email=thomas.schallert94@gmail.com
    - cd kubernetes/
    - ./execute-all.sh
  only:
    changes:
      - kubernetes/**/*
      - entity-storage-service/**/*
      - event-storage-service/**/*
      - notification-storage-service/**/*
      - swaggergateway/**/*
      - apigateway/**/*
      - backendui/**/*
      - hystrixdashboard/**/*

build whole project
  kubernetes/execute-all.sh
  pom.xml
Due: kubernetes-deploy

trigger deploy
  apigateway/src/main/java/tuwien/dse/apigateway/FallbackRestController.java
Due: backend-maven-build, kubernetes-deploy

made three seperate hystrix commands and added logs to microservice rest clients
  apigateway/src/main/resources/application.yml
  event-storage-service/src/main/java/tuwien/dse/eventstorageservice/services/EntityStoreRestClient.java
Due: backend-maven-build, kubernetes-deploy

updated hystrix timeout
  event-storage-service/src/main/java/tuwien/dse/eventstorageservice/services/EntityStoreRestClient.java
Due: backend-maven-build, kubernetes-deploy

initialy get actual position of car
  backendui/.eslintrc.js
  backendui/src/views/AutonomousCarsDashboard.vue
  backendui/src/views/CarManufacturerDashboard.vue
Due: frontend-build, kubernetes-deploy

tried to resolve -ERROR Handshake failed due to invalid Upgrade header: null in ngnix
  backendui/nginx/config/default.conf
Due: frontend-build, kubernetes-deploy

format fail fix
  backendui/src/views/AutonomousCarsDashboard.vue
Due: frontend-build, kubernetes-deploy

implemented null check for event storage service
  event-storage-service/src/main/java/tuwien/dse/eventstorageservice/rest/EventStorageController.java
Due: backend-maven-build, kubernetes-deploy

added cache empty for notification storage
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/services/CrashNotifyService.java
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/services/EventStoreRestClient.java
Due: backend-maven-build, kubernetes-deploy

cleanup and docu
  apigateway/src/main/java/tuwien/dse/apigateway/ApigatewayApplication.java
  apigateway/src/main/java/tuwien/dse/apigateway/FallbackRestController.java
  apigateway/src/main/java/tuwien/dse/apigateway/cache/RedisService.java
  entity-storage-service/src/main/java/tuwien/dse/entitystorageservice/config/TestDataInserter.java
  entity-storage-service/src/main/java/tuwien/dse/entitystorageservice/exception/CarAlreadyExistsException.java
  entity-storage-service/src/main/java/tuwien/dse/entitystorageservice/exception/CarAlreadyExistsExceptionHandler.java
  entity-storage-service/src/main/java/tuwien/dse/entitystorageservice/rest/EntityStorageController.java
  entity-storage-service/src/main/java/tuwien/dse/entitystorageservice/service/RedisService.java
  event-storage-service/src/main/java/tuwien/dse/eventstorageservice/exception/EventNotFoundException.java
  event-storage-service/src/main/java/tuwien/dse/eventstorageservice/exception/EventNotFoundExceptionHandler.java
  event-storage-service/src/main/java/tuwien/dse/eventstorageservice/rest/EventStorageController.java
  event-storage-service/src/main/java/tuwien/dse/eventstorageservice/services/EntityStoreRestClient.java
  event-storage-service/src/main/java/tuwien/dse/eventstorageservice/services/EventNotifyService.java
  event-storage-service/src/main/java/tuwien/dse/eventstorageservice/services/RedisService.java
  hystrixdashboard/src/main/java/tuwien/dse/hystrixdashboard/HystrixdashboardApplication.java
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/exception/BadRequestException.java
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/exception/BadRequestExceptionHandler.java
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/exception/CrashAlreadyInactiveException.java
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/exception/CrashNotFoundException.java
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/rest/NotificationStorageController.java
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/services/EventStoreRestClient.java
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/services/RedisService.java
  swaggergateway/src/main/java/tuwien/dse/swaggergateway/SwaggergatewayApplication.java
Due: backend-maven-build, kubernetes-deploy

exception fix
  event-storage-service/src/main/java/tuwien/dse/eventstorageservice/rest/EventStorageController.java
Due: backend-maven-build, kubernetes-deploy

added null checks
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/services/AutonomousCarService.java
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/services/BlueLightOrganisationService.java
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/services/CrashNotifyService.java
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/services/EventStoreRestClient.java
  notification-storage-service/src/main/java/tuwien/dse/notificationstorageservice/services/OemNotificaionService.java
Due: backend-maven-build, kubernetes-deploy

updated gateway config
  apigateway/src/main/resources/application.yml
Due: backend-maven-build, kubernetes-deploy

changed gateway logging to info
  apigateway/src/main/resources/application.yml
Due: backend-maven-build, kubernetes-deploy

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

trigger build
  apigateway/src/main/java/tuwien/dse/apigateway/cache/RedisService.java
Due: backend-maven-build, kubernetes-deploy

edit simulation
  backendui/src/views/Simulation.vue
Due: frontend-build, kubernetes-deploy

added comments to api gateway
  swaggergateway/src/main/java/tuwien/dse/swaggergateway/api/GatewayApi.java
Due: backend-maven-build, kubernetes-deploy

update Readme
  README.md
Due: none

Update README.md
  README.md
Due: none
